:root {
    --primary: #1e88e5 ;
}

h1 {
    background-color: var(--primary);
    text-align: center;
    color: white;
    margin: 0 auto;
}


nav {
    margin-bottom: 25px;
    background-color: #1e88e5;
}

.hidden {
    visibility: hidden;
}

#today {
    border: black solid 2px;
    padding: 15px;
}

#cityName {
    margin-top: 0;
}

.detail {
    margin-top: 10px;
    font-size: 150%;
}

.low {
    background-color: #CEE5D0;
}

 .moderate {
    background-color: #FFF9CA;
 }

 .high {
    background-color: #FEB139;
 }

 .veryHigh {
    background-color: #EF9F9F;
 }

 #fiveDays {
    font-size: 130%;
 }